
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   
    <p>
      Interview reminder. Interview will start in 30 minutes.<br>
      Interview start time - <%= @interview.starttime %> <br>
      Interview end time - <%= @interview.endtime %> <br>
    
    </p>

    <p>Thank you</p>
   
  </body>
</html>